@model int
@{
    ViewBag.Title = "Checkout Complete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="text-center">
        <h2>Checkout Complete</h2>
        <p>Thanks for your order! Your order number is: @Model</p>
        <p>
            How about shopping in our
            <a href="/home/index" class="page-link">Shopping</a>
        </p>
    </div>
    
</div>

