
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@section account
{

    <div class="container ">
        <section style="margin-top:100px ;margin-bottom:150px">
            <div class="row justify-content-center">
                
                <div class="col-6 w-50 text-center">
                    <h1 class="fw-bolder text-center font-monospace">LOGIN</h1>
                    <form method="get" class="form-control p-2 align-items-center">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" class="font-monospace">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword" class="font-monospace">Password</label>
                        </div>

                        <button class="form-control mt-2 btn btn-secondary font-monospace">Login</button>
                    </form>
                    <div class="mt-3"><a class="link-secondary font-monospace">Recover password</a></div>
                    <div class="p-3 mt-2"><a class="page-link text-primary" href="/login/Register">You Don't Have Account? Let Register!</a></div>
                </div>
            </div>
        </section>
    </div>
}
