@model MyWebApp.Models.Bag

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container">
    <h3 class="font-monospace text-center">My Cart</h3>
    
</div>

