
@{
    ViewBag.Title = "AboutME";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<style>
    
</style>

<div class="container pt-5 justify-content-center">
    <div class="border shadow row p-2">
        <a class="btn btn-close edit-postion" href="/home/index"></a>
        <h2 class=" fw-light text-center font-monospace">About ME</h2>
        <div class="col-4"><img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t1.6435-9/121122274_1086229585147045_6471476013631713212_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=1xXDIzkIjbgAX_H0b01&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfAFY0ahAYozgAMrOSEkONoeDYxGwRJbKhGUdN_Yejr14Q&oe=6397E878" class="img-thumbnail" /></div>
        <div class="col-8">
            <div class="font-monospace border-bottom fs-6 p-1">Full Name: <label class="fw-bold font-monospace">Nguyen Phuc Vinh</label></div>
            <div class="font-monospace border-bottom fs-6 p-1">Birth Of Day: <label class="fw-bold font-monospace">11.11.2002</label></div>
            <div class="font-monospace border-bottom fs-6 p-1">Gender: <label class="fw-bold font-monospace">Male</label></div>
            <div class="font-monospace border-bottom fs-6 p-1">HomeTown: <label class="fw-bold font-monospace">Long An (62)</label></div>
            <div class="font-monospace border-bottom fs-6 p-1">Living: <label class="fw-bold font-monospace">Ho Chi Minh City</label></div>
            <div class="font-monospace border-bottom fs-6 p-1">Relationship: <label class="fw-bold font-monospace">Single</label></div>

            <div class="font-monospace border-bottom fs-6 p-1 pb-3">Education: <label class="fw-bold font-monospace">Studies at HUFI - Ho Chi Minh City University of Food Industry</label></div>

            <div class="font-monospace border-bottom fs-6 border text-wrap">
                <br /> <blockquote class="fw-light font-monospace  text-center p-2">
                    𝙻𝚘𝚟𝚎 𝚒𝚜 𝚗𝚘𝚝 𝚋𝚘𝚞𝚗𝚍 𝚋𝚢 𝚝𝚒𝚖𝚎. 𝚈𝚘𝚞 𝚌𝚊𝚗 𝚋𝚎 𝚖𝚒𝚕𝚎𝚜 𝚊𝚙𝚊𝚛𝚝 𝚏𝚛𝚘𝚖 𝚎𝚊𝚌𝚑 𝚘𝚝𝚑𝚎𝚛 𝚋𝚞𝚝 𝚜𝚝𝚒𝚕𝚕 𝚋𝚎 𝚒𝚗 𝚕𝚘𝚟𝚎.
                    𝙰𝚗𝚍 𝚢𝚘𝚞 𝚌𝚊𝚗 𝚕𝚘𝚟𝚎 𝚜𝚘𝚖𝚎𝚘𝚗𝚎 𝚏𝚘𝚛 𝚢𝚘𝚞𝚛 𝚎𝚗𝚝𝚒𝚛𝚎 𝚕𝚒𝚏𝚎 𝚝𝚒𝚖𝚎 𝚊𝚗𝚍 𝚗𝚘𝚝 𝚐𝚎𝚝 𝚝𝚑𝚊𝚝 𝚕𝚘𝚟𝚎 𝚋𝚊𝚌𝚔.
                    𝚃𝚒𝚖𝚎 𝚌𝚊𝚗'𝚝 𝚋𝚛𝚎𝚊𝚔
                    -
                    <cite class="font-monospace">by keylwyn</cite>
                </blockquote>
            </div>
        </div>
    </div>

</div>



