@model List<MyWebApp.Models.Product>
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<style>
   
</style>

@section main
{
    <section class="text-center" style="margin-top:5px; margin-bottom:5px">
        <img src="~/Img/SectionPage.png" />
    </section> 
    
    <section>
        <div class="container">
            <h3 class="font-monospace fw-bolder text-center m-5"> SEASON 2022</h3>
            <div class="row">
                <p class="text-center ">
                    <img src="~/Img/main1.jpg" alt="main" class="max-height">
                    <img src="~/Img/main2.jpg" alt="main" class="max-height">
                </p>

                <p class="text-center ">
                    <img src="~/Img/main3.jpg" alt="main" class="max-height">
                    <img src="~/Img/main4.jpg" alt="main" class="max-height">
                </p>

            </div>
        </div>
    </section>
     
 }



